bolna @ git+https://github.com/orionesolutionsdev/bolna@335f47ba
pymongo==4.7.2
pydantic-settings==2.2.1
motor==3.4.0
python-jose==3.3.0
boto3==1.33.2
APScheduler==3.10.4
torchaudio==2.0.1
ffprobe==0.5
sentry-sdk[fastapi]==2.12.0
python-multipart==0.0.9